Package: PDFOrganizer
Version: 1.2
Section: utils
Priority: optional
Architecture: all
Maintainer: 20220001825@students.cud.ac.ae
Depends: python3, python3-pypdf
Description: Organizes PDFs according to certain categories in a given directory and generate a report afterwards

